{
  "extends": "./node_modules/@stackr23/config-eslint",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": false,
      "webpack": false,
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "sort-imports": [
      2,
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": ["single", "all", "multiple", "none"],
        "allowSeparatedGroups": true
      }
    ]
  }
}
