{
  "extends": "./node_modules/@stackr23/config-eslint",
  "settings": {
    "import/resolver": {
      "node": false,
      "webpack": false,
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
