{
  "branches": [
    "master",
    "main"
  ],
  "repositoryUrl": "https://github.com/stackr23/react-stack",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@stackr23/conventional-changelog-config",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "config",
            "release": "patch"
          },
          {
            "type": "script",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "deps",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "@stackr23/conventional-changelog-config"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog\n\n> generated with [@semantic-release/changelog](https://github.com/semantic-release/changelog)\n\n"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "tarballDir": "releases"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ],
        "message": "chore(release): 🤖🔖🚀 v${nextRelease.version} \n\n${nextRelease.notes} [skip ci]"
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
